<app-navbar></app-navbar>
<header>
  <div class="container-fluid">
    <div class="row">
      <h1><i class="fa-solid fa-people-group"></i>Employees</h1>
      <button routerLink="/createemployee"><i class="fa-solid fa-user-plus"></i>Add employee</button>
    </div>
  </div>
</header>

<div class="employees" *ngIf="empty; then ifdataempty else ifdatafound">

</div>
<ng-template #ifdatafound>
  <div class="employees">
  <div class="container-fluid">
    <div class="row">
      <div class="employee animate__animated animate__fadeInDown col-lg-3" *ngFor="let data of alldata">
        <div class="header">
          <div class="container-fluid">
            <div class="row">
              <div class="dropdown">
                <i class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"
                  class="fa-solid fa-ellipsis"></i>
                <div class="dropdown-menu ">
                  <button class="dropdown-item" (click)="delete(data.id)" type="button" ><i  class="fa-solid fa-user-large-slash "></i></button>
                  <button class="dropdown-item" routerLink="/employeeupdate/{{data.id}}" type="button"><i class="fa-solid fa-user-pen"></i></button>
                  <button class="dropdown-item" routerLink="/employeeshow/{{data.id}}" type="button"><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
              <img [src]="data.empimg" alt="employee">
              <h1>{{data.empname}}<p>{{data.empwork}}</p>
              </h1>
            </div>
          </div>
        </div>
        <ul>
          <li><span>ID:</span> {{data.id}}</li>
          <li><span>Departement:</span> {{data.empdepartement}}</li>
          <li><span>email:</span>{{data.empemail}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</ng-template>

<ng-template #ifdataempty>
  <div class="employees">
    <p class="alert alert-danger col-lg-6">
      <i class="fa-solid fa-database"></i> No data found
    </p>
  </div>
</ng-template>
