<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand"><i class="fa-solid fa-building animate__animated animate__heartBeat "></i>Company system</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink='/profile' ><i class="fa-solid fa-user"></i>profile</a>
      </li> -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/managerlist"><i class="fa-solid fa-user-tie"></i>Managers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/employeelist"><i class="fa-solid fa-people-group"></i>Employees</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/customerlist"><i class="fa-solid fa-users"></i>customers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/register"><i class="fa-solid fa-right-from-bracket"></i>Log out</a>
      </li>
    </ul>
  </div>
  <!-- <img src="./../../../assets/images/intro.jpeg" alt="">
  <a class="navbar-brand" id="founder"> George Ashraf <span>{{id}}</span> </a> -->

</nav>
